@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /*ADICIONEI*/
}



:root {
  --font-secundary: "Josefin Slab", serif;
  --font-primary: "Baloo Da 2", serif;
  --font-subtitle: 'Audiowide', cursive;
  --font-text: 'Electrolize', sans-serif;
  --font-action: "Muli", serif;

  --color-contrast: white;
  --color-bg-dark: black;
  --color-primary-one: rgb(19, 211, 205);
  --color-primary-two: rgb(7, 218, 255, 0.45);
  --color-primary-three: rgb(7, 218, 255, 0.15);
  --color-second-one: #6a3093;
  --color-second-two: rgb(21, 3, 35);
  --color-second-three: rgba(50, 18, 82, 0.75);
  /*CRIAR VARIÁVEL*/
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-size: cover;
  background-color: var(--color-second-two);
  background: -webkit-linear-gradient(to bottom, var(--color-bg-dark), var(--color-second-three));
  background: linear-gradient(to bottom, #06060e, #100a1c, #7a0bc0, #ed4f0b);
  min-width: 375px; 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 200;
  right: 2.5rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer {
  right: 1.5rem;
  top: 4rem;
}

.line {
  width: 100%;
  height: .1rem;
  background-color: var(--color-contrast);
  box-shadow: 0.1rem 0.1rem 1px var(--secondary-color);
  transition: transform 1s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(.3rem, .29rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(.3rem, -.49rem);
}

.hamburguer span {
  position: absolute;
  z-index: 100; /*verificar*/
  right: 3rem;
  height: 1.2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-two));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-two));
  color: var(--color-contrast);
  font-family: var(--font-action);
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: .5rem solid transparent;
  border-top: .5rem solid transparent;
  border-left: .5rem solid var(--color-primary-two);
  border-bottom: .5rem solid transparent;
  right: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

.headerContainer {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  object-fit: fill;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg-dark);
  padding: 2px;
  object-fit: fill;

}

.img-wrapper img,
.img-wrapper video
 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.banner {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
  object-fit: fill;

}

.banner h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  color: var(--color-contrast);
  text-shadow: 2px 2px 1px var(--color-bg-dark);
  letter-spacing: .4em;
  animation: moveBanner 1s 0.5s forwards;
  z-index: 1; 
}

.banner h2 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 2.2rem;
  font-weight: bolder;
  text-shadow: .15rem .15rem var(--secondary-color);
  margin-bottom: 1rem;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
  color: var(--color-contrast);
  text-shadow: 2px 2px 1px var(--color-bg-dark);
  letter-spacing: .4em;
}

.banner button {
  font-family: var(--font-action);
  font-size: normal;
  color: var(--color-contrast);
  text-transform: uppercase;
  text-shadow: .15rem .15rem var(--color-bg-dark);
  letter-spacing: .1rem;
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-two));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-two));
  padding: 1rem;
  padding-top: 0.5rem;
  /* border: none; */
  border: 1px solid var(--color-primary-two);
  border-radius: 15px;
  box-shadow: -2px 2px 4px var(--color-contrast);
  cursor: pointer;
  opacity: 0.9;
  animation: moveBanner 1s 0.9s forwards;
  width: 8rem;
  height: 2rem;
}

.banner button:hover {
  opacity: .5;
  border: 1px solid var(--color-primary-one);
  box-shadow: -3px 3px 8px var(--color-primary-one);
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.topbar {
  z-index: 100;
  font-family: 'Faster One', cursive;
  width: 100%;
  height: 8vh;
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  position: fixed;
  top: 0;
  right: -100vw;
  transition: all 1s;
  border-bottom: 3px solid var(--color-second-one);
  box-shadow: 0px 1px 5px var(--color-contrast);
  word-spacing: 5rem;
}

.show-menu .topbar {
  right: 0;
  z-index: 100;
  height: 8vh;
}

.menu {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
}

.menu-item {
  text-align: center;
  margin-bottom: .5rem;
}

.menu-link {
  font-family: 'Audiowide', cursive;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
  transition: color .3s;
}

.menu-link:hover {
  color: var(--color-second-two);
}

.social-media {
  position: absolute;
  top: 3rem;
  width: 6%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.social-media i {
  color: var(--color-second-two);
  height: 3.3rem;
  width: 3.5rem;
  font-size: 2rem;
  text-shadow: 2px 2px 5px var(--color-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: background-color .3s;
}

.social-media i:hover {
  text-shadow: 2px 2px 5px var(--color-primary-one);
}


/* Titulo das sessões */

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1rem;
  /* position: relative; */
}

.sessao-header h1 {
  font-weight: normal;
  font-family: var(--font-subtitle);
  font-size: 2.5rem;
  color: var(--color-primary-one);
  text-shadow: 2px 2px 1px var(--color-bg-dark);
  border-bottom: solid 3px var(--color-second-one);
  margin-bottom: 1.5rem;
  margin-top: 2.1rem;
  /* position: relative; dddddddddddddddddddddddddddddddddddddddddddddddd*/

}


/* ** SOBRE ** */
.sobre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0 2rem;
}

.card-imageprofile img {
  width: 20.125rem;
  height: 20.75rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  animation: zoom-in-zoom-out 3s ease-out infinite;
}

.card-imageprofile img:hover {
  /* animation: zoom-in-zoom-out 3s ease-out infinite; */

  /* transform: rotate(1080deg);
  transition: 5.9s; */
  animation: rotate 4s ease-out infinite;
}

@keyframes rotate {
  0% {
    /* transform: rotate(1080deg); */
    transform: scale(1. 1) rotate(0deg);
  }

  50% {
    transform: scale(0.07) rotate(720deg);
  }

  100% {
    /* transition: infinite; */
    transform: scale(1.2, 1.2) rotate(-720deg);
  }
  
}


@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

.card-sobre {
  width: 50%;
  height: 100%;
  text-align: justify;
  position: relative;
  padding-top: 20px;
}

.card-sobre p {
  font-size: 1.17rem;
  color: var(--color-contrast);
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  line-height: 1.5rem;
  text-shadow: 5px 5px 10px var(--color-bg-dark);
  font-family: var(--font-secundary);

  position: relative;
}

/* ** CONHECIMENTOS ** */

.sessao-conhecimentos {
  margin-top: 4rem;
  padding-top: 2rem;
  position: relative;
  display: block;
  height: 5 00px;
}


.conhecimentos {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  margin: auto;
}

.sessao-projetos {
  margin-top: 2rem;
}

.card-tecs i {
  flex: 0 1 40%;
  font-size: 3rem;
  word-spacing: 5rem;
  text-shadow: 0.1rem 0.1rem 1rem #a01ce7;
  color: var(--color-primary-one);
  /* margin-bottom: 1rem; */
  margin: 2rem;
}

.card-tecs i:hover {
  text-shadow: 0.1rem 0.1rem 3rem #a01ce7;
  transition: 0.5s;

}

.card-tecs p {
  color: var(--color-second-one);
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-size: 25px;
  text-align: center;
  text-shadow: 0.01rem 0.01rem 0.1rem #000;
}

/* ** PROJETOS ** */
.projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 3rem;
}

.card {
  position: relative;
  flex: 0 1 30%;
  background: -webkit-linear-gradient(to bottom, var(--color-second-three), var(--color-primary-three));
  background: linear-gradient(to bottom, var(--color-second-three), var(--color-primary-three));
  width: 20rem;
  height: 75vh;

    /* width: 35rem; */
  /* height: 90vh; */
  /* height: 100vw; */
  /* height: 100%; */
  min-height: 450px;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: var(--color-primary-one) 1px solid;
  margin-bottom: 2rem;
  /*ADICIONEI*/
  display: flex;
  flex-direction: column;
  align-items: center;


}

.card:hover {
  transition: 0.5s;
  bottom: 0.5rem;
  box-shadow: var(--color-primary-one) 1px 1px 10px 2px;
}

.card-img-wrapper {
  width: 100%;
  height: 50%;
  margin-bottom: 0.5rem;
}

.card-img-wrapper img,
.card-img-wrapper video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 1;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 1;
}

.card-info {
  padding: 0.4rem;
  height: 100%;
  position: relative;
  transition: all 1s;
  text-align: center;
}

.card-info h3 {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-primary-one);
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5rem;
}

.card-info p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-family: var(--font-secundary);
  line-height: 1.5rem;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--color-contrast);
  margin-bottom: 1.5rem;
  /* height: 7rem; */
  /* height: 50%; */
  height: 50%;
  width: 100%;
}

.card-info .btn {
  display: block;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: bold;
  width: 11rem;
  height: 2rem;
  margin-inline: auto;
  margin-bottom: 0.7rem;
  /* padding-bottom: 1.5rem; */
  padding: 4px;
  background-color: var(--color-primary-one);
  box-shadow: var(--color-primary-two) 0.1rem 0.1rem 0.4rem 0.1rem;
  /* border: 5px solid var(--color-primary-two); */
  border-radius: 5px;
  color: var(--color-second-two);
}

.construcao {
  background-image: url(imagens/btnConstrucao.jfif);
  background-size: cover;
  background-repeat: no-repeat;  
}

.tecs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  color: var(--color-primary-one);
  text-transform: uppercase;
  font-family: var(--font-action);
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
  /* position: relative;
  bottom: 10px; */
}

/* ** CONTATO ** */


.sessao-contato {
  /* background-image: url(./imagens/FooterImageCompressed.mp4); */
  background-size: cover;
  background-position:center;
  display: flex;
  flex-direction: column;

  position: relative;
  /* overflow: hidden; */
  width: 100%;
  height: 100vh;
}

.wrap-contact-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  bottom: 0;
}

.wrap-contact-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contato {
  justify-content: space-evenly;
  align-items: center;
  height: 65vh;
  /* margin-bottom: 2rem; */
   /* margin-top: 15rem; */
  margin-left: 1rem;
  bottom: 3rem;
  color: var(--color-bg-dark);
  text-shadow: 1px 1px 1px var(--color-contrast);
  position: absolute;
 

}

.contact {
  color: var(--color-contrast);

  display: flex;
  align-items: center;
  justify-items: left;
  text-align: left;

  font-weight: normal;
  font-family: var(--font-subtitle);
  font-size: 1.5rem;
  color: var(--color-contrast);
  text-shadow: 2px 2px 1px var(--color-bg-dark);

  margin-top: 0rem;
  margin-bottom: 3.5rem;
  margin-left: 35px;
  height: 100px;
  /* padding-top: 2px; */
  position: absolute;
  border-bottom: solid 3px linear-gradient(to left, var(--color-primary-one), var(--color-second-one));  
}

.contact h1 {
  border-bottom: solid 3px var(--color-second-one);
  position: absolute;
  top: 0.5rem;

}

.card-contato {
  width: 320px;
  height: 50px;
  padding: 5px 5px;
  border-radius: 0.5rem;
  margin-bottom: 15px;
  background-color: rgb(247, 71, 124);
  border: 2px solid var(--color-contrast);
  border: 1px solid var(--color-primary-one);
  box-shadow: 2px 2px 10px 2px var(--color-contrast);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-contato:hover {
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  border: 2px solid var(--color-second-one);
  box-shadow: 2px 2px 10px 2px var(--color-primary-one);
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
  opacity: 0.9;

}

.card-contato:hover input {
  background-color: transparent;
}

.card-contato h3 {
  font-family: var(--font-action);
  margin-left: 10px;
}

.card-contato i {
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
}

input {
  font-family: var(--font-action);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-left: 10px;
  width: 270px;

  padding: 5px 5px;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 71, 124);
  color: var(--color-bg-dark);
  text-shadow: 1px 1px 1px var(--color-contrast);
}

input:hover {
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
}



/* ** FOOTER ** */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 4.5rem;
  font-family: 'Audiowide', cursive;
  font-size: 1rem;
  text-transform: uppercase;
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  border-top: 3px solid var(--color-second-one);
  box-shadow: 0px -1px 5px var(--color-contrast);
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
  opacity: 0.9;
  position: absolute;
  bottom: 0;

}

.footer-content,
.footer-content i {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
}

#link-topo {
  position: fixed;
  z-index: 100;
  right: 1rem;
  /* right: 30px; */
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  background: var(--color-second-one);
  background: -webkit-linear-gradient(to right, var(--color-primary-one), var(--color-second-one));
  background: linear-gradient(to left, var(--color-primary-one), var(--color-second-one));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.6rem #00000009;
}

@media (max-width: 576px) {

  .banner h1 {
    font-size: 3rem;
  }

  .banner h2 {
    font-size: 36px;
  }

  .banner button {
    font-size: 20px;
  }

  .banner h1 {
    font-size: 20px;
  }

  .sobre {
    display: block;
    margin: auto auto;
  }

  .card-imageprofile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .card-sobre {
    margin: auto;
    width: auto;
    height: auto;
    padding: 15px;
  }

  .card {
    width: 15rem;
    height: 55vh;
  }

  .footer-content{
    font-size: 12px;
  }

} 

@media (max-width: 1015px) {
  .banner h1 {
    font-size: 2rem;
  }

  .banner h2 {
    font-size: 2rem;
  }

  .banner button {
    font-size: normal;
  }

  .topbar {
    width: 100%;
    height: 8vh;
  }

  .sobre {
    display: block;
    margin: auto auto;
  }

  .card-imageprofile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .card-sobre {
    margin: auto;
    width: auto;
    padding: 15px;
  }

  .sessao-conhecimentos {
    margin: auto;
    height: auto;
  }

  .projetos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 35rem;
    height: 90vh;
  }
}

@media (max-width: 600px){
  .card {
   width: 20rem;
   height: 70vh;
  }
  .banner h1 {
    font-size: 2rem;
  }

  .banner h2 {
    font-size: 1.5rem;
  }

  .banner button {
    font-size: small;
  }

  .menu-link {
    font-size: 0.65rem;
    font-weight: normal;
  }
  .topbar {
    width: 100%;
    height: 8vh;
  }

}

@media (max-width: 528px){

  .topbar {
  
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    right: -125vw;
    transition: all 1s;
  }
  
  .show-menu .topbar {
    right: 0;
    z-index: 125;
  }
}

@media (max-width: 400px){
 
  .sessao-header h1 {
    font-size: 2rem;
  }

  .topbar {
      right: -125vw;
      height: 8vh;
  }
  
  .show-menu .topbar {
    right: 0;
    width: 100%;
  }
}
