@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /*ADICIONEI*/
}



:root {
  --font-secundary: "Josefin Slab", serif;
  --font-primary: "Baloo Da 2", serif;
  --font-subtitle: 'Audiowide', cursive;
  --font-text: 'Electrolize', sans-serif;
  --font-action: "Muli", serif;

  --color-contrast: white;
  --color-bg-dark: black;
  --color-primary-one: rgb(19, 211, 205);
  --color-primary-two: rgb(7, 218, 255, 0.45);
  --color-primary-three: rgb(7, 218, 255, 0.15);
  --color-second-one: #6a3093;
  --color-second-two: rgb(21, 3, 35);
  --color-second-three: rgba(50, 18, 82, 0.75);
  /*CRIAR VARIÁVEL*/
}

html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-color: var(--color-second-two);

  background: -webkit-linear-gradient(to bottom, var(--color-bg-dark), var(--color-second-three));
  background: linear-gradient(to bottom, #06060e, #100a1c, #7a0bc0, #ed4f0b);
}


.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer {
  right: 2rem;
}

.line {
  width: 100%;
  height: .1rem;
  background-color: var(--color-contrast);
  box-shadow: 0.1rem 0.1rem 1px var(--secondary-color);
  transition: transform 1s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(.3rem, .29rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(.3rem, -.49rem);
}

.hamburguer span {
  position: absolute;
  right: 3rem;
  height: 2rem;
  /* left: 1rem; */
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-two));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-two));
  color: var(--color-contrast);
  font-family: var(--font-action);
  opacity: 0;
}

.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: .5rem solid transparent;
  border-top: .5rem solid transparent;
  border-left: .5rem solid var(--color-primary-two);
  border-bottom: .5rem solid transparent;
  right: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

.container {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-color: var(--color-bg-dark);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.banner {
  position: absolute;
  top: 55%;
  /* left: 10%; */
  text-align: center;
  width: 100%;

}

.banner h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 4rem;
  font-weight: bold;
  line-height: 3.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  color: var(--color-contrast);
  text-shadow: 2px 2px 1px var(--color-bg-dark);
  letter-spacing: .4em;
  animation: moveBanner 1s 0.5s forwards;
  z-index: 1;
}

.banner p {
  font-family: 'Bigelow Rules', cursive;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: .15rem .15rem var(--secondary-color);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
  color: var(--color-contrast);
  text-shadow: 2px 2px 1px var(--color-bg-dark);
  letter-spacing: .4em;
}

.banner button {
  font-family: var(--font-action);
  font-size: large;
  color: var(--color-contrast);
  text-transform: uppercase;
  text-shadow: .15rem .15rem var(--color-bg-dark);
  letter-spacing: .1rem;
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-two));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-two));
  padding: 1rem 3rem;
  /* border: none; */
  border: 1px solid var(--color-primary-two);
  border-radius: 15px;
  box-shadow: -2px 2px 4px var(--color-contrast);
  cursor: pointer;
  opacity: 0.9;
  animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
  opacity: .5;
  border: 1px solid var(--color-primary-one);
  box-shadow: -3px 3px 8px var(--color-primary-one);
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.topbar {
  font-family: 'Faster One', cursive;
  width: 100vw;
  height: 10vh;
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  position: fixed;
  top: 0;
  right: -100vw;
  transition: all 1s;
  border-bottom: 3px solid var(--color-second-one);
  box-shadow: 0px 1px 5px var(--color-contrast);
}

.show-menu .topbar {
  right: 0;
  z-index: 100;
}

.menu {
  position: absolute;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.menu-item {
  text-align: center;
  margin-bottom: .5rem;
}

.menu-link {
  font-family: 'Audiowide', cursive;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  justify-content: space-evenly;
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
  transition: color .3s;
}

.menu-link:hover {
  color: var(--color-second-two);
}

.social-media {
  position: absolute;
  top: 3rem;
  width: 6%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.social-media i {
  color: var(--color-second-two);
  height: 3.3rem;
  width: 3.5rem;
  font-size: 2rem;
  text-shadow: 2px 2px 5px var(--color-contrast);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: background-color .3s;
}

.social-media i:hover {
  text-shadow: 2px 2px 5px var(--color-primary-one);
}


/* Titulo das sessões */

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1rem;
  position: relative;
}

.sessao-header h1 {
  font-weight: normal;
  font-family: var(--font-subtitle);
  font-size: 2.5rem;
  color: var(--color-primary-one);
  text-shadow: 2px 2px 1px var(--color-bg-dark);
  border-bottom: solid 3px var(--color-second-one);
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  position: relative;

}

.main {
  display: block;
}


/* ** SOBRE ** */
.sobre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 77vh;
  margin-bottom: 2rem;
}

.card-imageprofile img {
  width: 20.125rem;
  height: 20.75rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;

}

.card-imageprofile img:hover {
  transform: rotate(1080deg);
  transition: 5.9s;
}

.card-sobre {
  width: 50%;
  height: 100%;
  text-align: justify;
  position: relative;
  padding-top: 20px;
}

.card-sobre p {
  font-size: 1.07rem;
  color: var(--color-contrast);
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  line-height: 1.5rem;
  text-shadow: 5px 5px 10px var(--color-bg-dark);
  font-family: var(--font-primary);

  position: relative;
}

/* ** CONHECIMENTOS ** */

.sessao-conhecimentos {
  margin-top: 5px;
  position: relative;
  display: block;
  height: 600px;
}

#conhecimentos {
  margin-top: 100px;

}

.conhecimentos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.card-tecs i {
  font-size: 5rem;
  word-spacing: 5rem;
  text-shadow: 0.1rem 0.1rem 1rem #a01ce7;
  color: var(--color-primary-one);
  margin-bottom: 1rem;
}

.card-tecs i:hover {
  text-shadow: 0.1rem 0.1rem 3rem #a01ce7;
  transition: 0.5s;

}

.card-tecs p {
  color: var(--color-second-one);
  text-transform: uppercase;
  font-family: var(--font-primary);
  text-align: center;
  text-shadow: 0.01rem 0.01rem 0.1rem #000;
}

/* ** PROJETOS ** */
.projetos {
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 2rem; */
  margin-top: 3rem;
}

.card {
  position: relative;
  background: -webkit-linear-gradient(to bottom, var(--color-second-three), var(--color-primary-three));
  background: linear-gradient(to bottom, var(--color-second-three), var(--color-primary-three));
  width: 20rem;
  height: 75vh;
  padding: 0.6rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  border: var(--color-primary-one) 1px solid;
  margin-bottom: 2rem;
  /*ADICIONEI*/
}

.card:hover {
  transition: 0.5s;
  bottom: 0.5rem;
  opacity: 1;
  box-shadow: var(--color-primary-one) 1px 1px 10px 2px;
}

.card-img-wrapper {
  width: 100%;
  height: 50%;
  margin-bottom: 0.5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 1;
}

.card-info {
  padding: 0.4rem;
  height: 50%;
  position: relative;
  transition: all 1s;
  text-align: center;

}

.card-info h2 {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-primary-one);
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5rem;
}

.card-info p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-family: var(--font-primary);
  line-height: 1rem;
  text-align: justify;
  font-size: .8rem;
  font-weight: 200;
  color: var(--color-contrast);
  width: 100%;
  margin-bottom: 0.5rem;
  height: 40%;
}

.card-info button {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: bold;
  width: 8rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  background-color: var(--color-primary-one);
  box-shadow: var(--color-primary-two) 0.1rem 0.1rem 0.4rem 0.1rem;
  margin-bottom: 1.3rem;
  border: 5px solid var(--color-primary-two);
  border-radius: 5px;
  color: var(--color-second-two);
}


.tecs {
  /* color: #90e0ef; */
  color: var(--color-primary-one);
  text-transform: uppercase;
  font-family: var(--font-action);
  font-size: 0.8rem;
  text-align: center;
  word-spacing: 1rem;
  /* opacity: 0.4; */

}

/* ** CONTATO ** */

.sessao-contato {
  background-image: url(./imagens/FooterImage.gif);
  background-size: cover;
}

.contact h1 {
  border-bottom: solid 3px var(--color-second-one);
}

.contato {
  justify-content: space-evenly;
  align-items: center;
  height: 65vh;
  margin-bottom: 2rem;
  margin-left: 2rem;
  color: var(--color-bg-dark);
  text-shadow: 1px 1px 1px var(--color-contrast);

}

.contact {
  color: var(--color-contrast);
  border-bottom: solid 3px linear-gradient(to left, var(--color-primary-one), var(--color-second-one));

  display: flex;
  align-items: center;
  justify-items: left;
  text-align: left;

  font-weight: normal;
  font-family: var(--font-subtitle);
  font-size: 1.8rem;
  color: var(--color-contrast);
  text-shadow: 2px 2px 1px var(--color-bg-dark);

  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
  margin-left: 35px;
  height: 100px;
  padding-top: 60px;
}

.card-contato {
  width: 320px;
  height: 60px;
  padding: 5px 5px;
  border-radius: 0.5rem;
  margin-bottom: 25px;
  position: relative;
  background-color: rgb(247, 71, 124);
  border: 2px solid var(--color-contrast);
  border: 1px solid var(--color-primary-one);
  box-shadow: 2px 2px 10px 2px var(--color-contrast);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-contato:hover {
  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  border: 2px solid var(--color-second-one);
  box-shadow: 2px 2px 10px 2px var(--color-primary-one);
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
  opacity: 0.9;

}

.card-contato:hover input {
  background-color: transparent;
}

.card-contato h2 {
  font-family: var(--font-action);
  margin-left: 10px;
}

.card-contato i {
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
}

input {
  font-family: var(--font-action);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-left: 10px;
  width: 270px;

  padding: 5px 5px;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 71, 124);
  color: var(--color-bg-dark);
  text-shadow: 1px 1px 1px var(--color-contrast);
  position: relative;
}

input:hover {
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
}



/* ** FOOTER ** */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 5rem;
  font-family: 'Audiowide', cursive;
  font-size: 1rem;
  text-transform: uppercase;

  background: -webkit-linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  background: linear-gradient(to right, var(--color-second-three), var(--color-primary-three));
  border-top: 3px solid var(--color-second-one);
  box-shadow: 0px -1px 5px var(--color-contrast);
  color: var(--color-contrast);
  text-shadow: 2px 2px 5px var(--color-primary-one);
  opacity: 0.9;
}

.footer-content,
.footer-content i {
  width: 60%;
}

#link-topo {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: var(--color-second-one);
  background: -webkit-linear-gradient(to right, var(--color-primary-one), var(--color-second-one));
  background: linear-gradient(to left, var(--color-primary-one), var(--color-second-one));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.6rem #00000009;
}

/* @media (max-width: 576px) {

  .banner h1 {
    font-size: 3rem;
  }

  .banner p {
    font-size: 36px;
  }

  .banner button {
    font-size: 20px;
  }

  .banner h1 {
    font-size: 20px;
  }

  .sobre {
    display: block;
    margin: auto auto;
  }

  .card-imageprofile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .card-sobre {
    margin: auto auto;
    width: auto;
    padding: 15px;
  }


  #conhecimentos {
    margin-top: 500px;
  }

  .card {
    width: 15rem;
    height: 55vh;
  }
} */

/* @media (max-width: 850px) {
  .banner h1 {
    font-size: 5rem;
  }

  .banner p {
    font-size: 4rem;
  }

  .banner button {
    font-size: 2.5rem;
  }

  .sobre {
    display: block;
    margin: auto auto;
  }

  .card-imageprofile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .card-sobre {
    margin: auto auto;
    width: auto;
    padding: 15px;
  }

  .sessao-conhecimentos {
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 700px;
    height: 600px;
    margin-top: 10px;
    height: 600px;
  }

  #conhecimentos {
    margin-top: 5px;
  }

  .card {
    width: 15rem;
    height: 55vh;
  }
} */